/*importado de google fonts https://fonts.google.com*/
/*@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');*/ 
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

body {
    font-size: 25px;
    line-height: 1.5;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #2A2F3D;
    font-style: normal;
    overflow-x: hidden;
}

p {
  font-size: 18px;
  margin: 0 0 15px;
  line-height: 1.5;
  color: #2A2F3D;
}
a {
  text-decoration: none;
  font-size: 18px;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
}

.tituloCategoria {
  color:#2A2F3D;
  position: relative;
  text-align: center;
  font-weight: 600;
  text-shadow: 1px 1px 3px #2A2F3D;
  letter-spacing: 4.5px;
  -webkit-transition:all ease-in-out 1s;
  transition: all ease-in-out 1s;
}
.tituloCategoria:hover {
  text-shadow: 1px 1px 3px #FF6732;
  letter-spacing: 5px;
  font-weight: 600;
  text-align: center;
}