
/* Header responsivo */

.header-resposivo {
  padding: 10px;
  background: #ffffff;

  /* navbar */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header-resposivo .menu-Responsivo {
  display: block;
  position: relative;
  padding: 10px;
}
.alternador-menu-responsivo{
  /* flex-column */
  flex-direction: column!important;

  /* nav */
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 1rem;
}
.alternador-menu-responsivo .estructura-opciones{
  width: 80%;
  line-height: 1.8;
  padding: .4rem .4rem .4rem 15px;
  color: #2A2F3D;
  font-weight: normal;
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
}
.alternador-menu-responsivo .descarga-responsivo {
  color: #FF6732;
  text-align: center;
  padding: 10px;
  margin: 15px auto;
  border: 2px solid #FF6732;
  border-radius: 10px;
}

/* Fin del header responsivo */

.menu-Lateral {
  background-color: #ffffff;
  min-height: 100vh;
  padding: 0;
  flex: 0 0 16.666667%; 
  max-width: 16.666667%;
}

/* Menu resolucion 1300 */ 

.nav-1300 {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  margin: 5px 0px;
  padding: 0px;
}

.actual-1300 {
  padding: 18px 32px;
  color: #FF6732;
  list-style: none;
  display: list-item;
  align-content: space-around;
  transition: all ease 1s;
  margin: auto;
  border-radius: 50px;
}.actual-1300:hover{
  color: #ffffff;
  background-color: #FF6732;
}.actual-1300:active:focus {
  color: #2A2F3D;
  background-color: #FFCA00;
}

.descarga-1300 {
  color: #2A2F3D;
  border: 1.5px solid #FF6732;
  padding: 18px 32px;
  margin: auto;
  border-radius: 50px;
  list-style: none;
  display: list-item;
  align-content: space-around;
  transition: all ease 1s;
}.descarga-1300:hover{
  color: #2A2F3D;
  border: 1.5px solid #FFCA00;
}.descarga-1300:active{
  color: #FFCA00;
}

.menu-1300 {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
}
.menu-1300 .objetos-nav{
  padding: 18px 32px;
  color: #2A2F3D;
  list-style: none;
  display: list-item;
  align-content: space-around;
  transition: all ease 1s;
  margin: auto;
  border-radius: 50px;
}.menu-1300 .objetos-nav:hover{
  color: #ffffff;
  background-color: #FF6732;
}.menu-1300 .objetos-nav:active{
  color: #2A2F3D;
  background-color: #FFCA00;
}
.nav-contenedora{
  margin-top: 5px;
  width: 70vw;
  text-align: center;
  align-content: space-around;
  border-top: 1.5px solid #ff6550;
  border-bottom: 10px none #ff6550;
}
.objetos-options {
  display: inline-flex;
  list-style: none;
  padding: 18px 32px;
  margin: auto;
  margin-top: 5px;
  border-radius: 50px;
  clear: both;
  color: #2A2F3D;
  text-align: center;
  white-space: nowrap;
  background-color: transparent;
  transition: all ease 1s;
}.objetos-options:hover{
  color: #ffffff;
  background-color: #FF6732;
}.objetos-options:active:focus {
  color: #2A2F3D;
  background-color: #FFCA00;
}

/* Fin de menu resolucion 1300 */

.logo {
  text-align: center;
  padding: 30px 0px;
}

/* Para ver en que pagina te encuentras actualmente */

.actual {
  width: 80%;
  line-height: 1.8;
  padding: .4rem .4rem .4rem 15px;
  color: #FF6732;
  list-style: none;
  display: list-item;
  transition: all ease 1s;
}.actual:hover{
  color: #ffffff;
  background-color: #FF6732;
  width: 100%;
}.actual:active:focus {
  color: #2A2F3D;
  background-color: #FFCA00;
}

/* Fin para ver en que pagina te encuentras actualmente */

.seccion-menu-lateral{
  /* flex-column */
  flex-direction: column!important;

  /* nav */
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
}
.seccion-menu-lateral .column-estructura{
  width: 80%;
  line-height: 1.8;
  padding: .4rem .4rem .4rem 15px;
  color: #2A2F3D;
  list-style: none;
  display: list-item;
  text-align: -webkit-match-parent;
  -webkit-transition:all ease-in-out 1s;
  transition: all ease 1s;
}
.seccion-menu-lateral .column-estructura:hover{
  color: #ffffff;
  background-color: #FF6732;
  width: 100%;
}
.seccion-menu-lateral .column-estructura:active{
  color: #2A2F3D;
  background-color: #FFCA00;
}

/* Opciones de cuando se desgloza productos */

.lateral-column-options {
  display: block;
  width: 100%;
  padding: .4rem 2.5rem;
  clear: both;
  color: #2A2F3D;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  transition: all ease 1s;
}
.lateral-column-options:hover{
  color: #ffffff;
  background-color: #FF6732;
}
.lateral-column-options:active:focus {
  color: #2A2F3D;
  background-color: #FFCA00;
}

/* Fin de opciones de cuando se desgloza productos */

/* Boton de descarga */

.descarga {
  color: #2A2F3D;
  text-align: center;
  padding: 10px;
  margin: 25px auto;
  border: 1.5px solid #FF6732;
  border-radius: 10px;
  -webkit-transition:all ease-in-out .5s;
  transition: all ease .5s;
}
.descarga:hover{
  color: #2A2F3D;
  border: 1.5px solid #FFCA00;
}
.descarga:active{
  color: #FFCA00;
}

/* Fin de boton de descarga */

/* Apartado responsivo */ 

@media all and (max-width: 768px) {
  .menu-Lateral {
    display: none;
    transition: all 1s ease-in-out;
  }

  .menu-1300 {
    display: none;
  }.nav-1300 {
    display: none;
  }.nav-contenedora {
    display: none;
  }.objetos-options {
    display: none;
  }
}

@media all and (max-width: 1023px) and (min-width: 768px) {
  .menu-Lateral {
    display: none;
    transition: all 1s ease-in-out;
  }

  .menu-1300 {
    display: none;
  }.nav-1300 {
    display: none;
  }.nav-contenedora {
    display: none;
  }.objetos-options {
    display: none;
  }
}

@media all and (max-width: 1299px) and (min-width: 1024px){
  .header-resposivo{
    display: none;
  }
  
  .menu-Lateral {
    display: none;
    transition: all 1s ease-in-out;
  }

  .descarga {
    display: none;
  }

  .menu-social {
    font-size: 25px;
  }

  .logo {
    display: none;
  }
}

@media all and (min-width: 1299px) {
  .header-resposivo{
    display: none;
  }

  .alternador-menu-responsivo{
    display: none;
  }

  .menu-1300 {
    display: none;
  }.nav-1300 {
    display: none;
  }.nav-contenedora {
    display: none;
  }.objetos-options {
    display: none;
  }
}