
.body-contenido {
    position: relative;
}

.body-cuerpo {
    background-color: #ffffff;
    padding: 0%;
}
  
.barra{
    background: #FF6732;
    color: #2A2F3D;
    display: block;
    /*position: static; Deja estatica la barra donde aparece*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
    z-index: 999;

}
   
.barra a{ 
    color: #2A2F3D; 
    font-weight: bold; 
    font-size: 25px;
}

.barra div.cerrar {
    text-align: right;
    margin-right: 10px;
    float: right;
} 

@media (max-width: 768px) {
  .barra{ 
    display: none;
  }
}