/*importado de google fonts https://fonts.google.com*/
/*@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');*/ 
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

body {
    font-size: 25px;
    line-height: 1.5;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #52658f;
    font-style: normal;
    overflow-x: hidden;
}

p {
  font-size: 18px;
  margin: 0 0 15px;
  line-height: 1.5;
  color: #52658f;
}
a {
  text-decoration: none;
  font-size: 18px;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
}

.tituloCategoria {
  position: relative;
  text-align: center;
  text-shadow: 2px 2px 5px #333A56;
  letter-spacing: 10px;
  -webkit-transition:all ease-in-out 3s;
  transition: all ease-in-out 3s;
}
.tituloCategoria:hover {
  text-shadow: 4px 4px 10px #8e92a3;
  letter-spacing: 15px;
  font-weight: 900;
  text-align: center;
}